@import 'mixins/containers.scss';

.container {
  @include box-sizing(border-box);
  width: $container-default-width;
  max-width: $container-default-width;
  height: auto;
  margin: 0 auto;
  overflow: visible;
  @include clearfix();

  //Loop through sizes array
  @include container-sizes;

  //Fluid and Full for responsive design
  @include container-breakpoints;
  @include container-breakpoints-up;
  @include container-breakpoints-down;

  //Fluid
  &.fluid {
    width: 100%;
  }

  &.full {
    width: 100%;
    max-width: 100%;
  }

  &.spaced {
    padding: $default-spacing;
  }
}
