@import 'mixins/grid';

.row {
  width: auto;
  margin: 0 auto;
  display: block;
  @include clearfix();
  @include gutters;
}

[class*='col-'] {
  @include box-sizing(border-box);
  float: left;
  min-height: 1px;
}

//Full column
.col-full { width: 100%; }

//Generates all column sizes
@for $i from 1 through $grid-rows {
  @include col($i);
}

//Generates all columns sizes in fractions
@for $i from 1 through 6 {
  @for $j from 2 through 7 {
    @if $i != $j and $i < $j {
      @include col($i, $j);
    }
  }
}

//Generates the same above for reponsive design
@each $size, $query in $breakpoints {
  @media #{$query} {
    @for $i from 1 through $grid-rows {
      @include col($i, '', $size);
    }

    @for $i from 1 through 6 {
      @for $j from 2 through 7 {
        @if $i != $j and $i < $j {
          @include col($i, $j, $size);
        }
      }
    }

    .row { @include gutters($size); }
    .col-#{$size}-full { width: 100%; }
  }
}
