.group {
  @include sizes($group-sizes);

  :not(:only-child) {
    & {
      float: left;
      margin: 0;
      padding-top: $group-padding-ends;
      padding-bottom: $group-padding-ends;
    }

    &:not(:first-child) {
        border-left: 0;
        margin-left: 0;
    }

    &:first-child {
        @include radius-right(0);
        margin-right: 0;
    }

    &:last-child {
        @include radius-left(0);
    }

    &:not(:first-child):not(:last-child) {
        @include radius-right(0);
        @include radius-left(0);
        margin-right: 0;
    }
  }
}
