@import 'mixins/modals';

.modal {
  display: none;
  position: absolute;
  z-index: $z-modal;
  left: 50%;
  top: $modal-top-spacing;
  background-color: $modal-bgcolor;
  border: $modal-border;
  color: $modal-color;
  @include shadow($modal-shadow);
  @include radius($modal-radius);
  @include modal-sizes;

  div {
    @include clearfix;
  }

  .modal-header {
    border-bottom: $modal-header-border;
    padding: $modal-header-padding;

    .modal-title {
      font-size: $modal-title-fontsize;
      font-weight: $modal-title-fontweight;
      color: $modal-title-color;
    }
  }

  .modal-body {
    padding: $modal-body-padding;
    font-size: $modal-body-fontsize;
  }

  .modal-footer {
    border-top: $modal-footer-border;
    padding: $modal-footer-padding;
  }
}

.backdrop {
  z-index: $z-backdrop;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $backdrop-bgcolor;
  display: none;
}

button.close {
  background-color: transparent;
  border: none;
  float: right;
  margin: -5px;
  font-size: 24px;
}
