[class*='show-'] {
  display: none;
}

[class*='hide-'] {
  display: block;
}

@each $size, $query in $breakpoints {
  @media #{$query} {
    .show-#{$size} {
      display: block;
    }

    .hide-#{$size} {
      display: none;
    }
  }
}

@each $size, $query in $breakpoints-up {
  @media #{$query} {
    .show-#{$size}-up {
      display: block;
    }

    .hide-#{$size}-up {
      display: none;
    }
  }
}

@each $size, $query in $breakpoints-down {
  @media #{$query} {
    .show-#{$size}-down {
      display: block;
    }

    .hide-#{$size}-down {
      display: none;
    }
  }
}
