html, body {
  font-family: $base-font-family;
  font-size: $base-fontsize;
  line-height: $base-lineheight;
  color: $base-fontcolor;

  @if ($use-responsive-typo) {
    @include responsive-font-size($base-map);
  }
}

p {
  font-size: $p-fontsize;
  line-height: $base-lineheight;
  margin: $p-margin;

  @if ($use-responsive-typo) {
    @include responsive-font-size($p-map);
  }
}

small { font-size: $small-fontsize; }
strong { font-size: $strong-fontsize;}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-fontfamily;
  color: $headings-color;
  line-height: $headings-lineheight;
  font-weight: $headings-fontweight;
  margin: $headings-margin;
  padding: 0
}

@each $h, $size in $headings {
  #{$h}, .#{$h} {
    font-size: $size;

    small {
      font-size: $headings-small-fontsize;
      color: $headings-small-color;
      font-weight: normal;
    }

    &.subheader {
      color: $headings-small-color;
    }

    @if ($use-responsive-typo) {
      @include responsive-font-size(map-get($headings-map, $h));
    }
  }
}

.title {

}

.nav-title {
  text-transform: uppercase;
  color: $nav-title-color;
  font-size: $nav-title-fontsize;
  font-weight: bold;
  display: block;
  margin: $nav-title-margin;
}

.lead {
  font-size: $lead-fontsize;
}

ul, ol {
  @include box-sizing(border-box);
  @include clearfix;
  margin: 0 0 $list-margin-y $list-margin-x;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    line-height: $list-lineheight;
    text-align: left;
  }

  &.inline {
    margin: 0;
    list-style: none;

    li {
      margin-right: $list-margin-x;
      display: inline-block;
    }
  }

  &.unstyled { list-style-type: none; }
  &.circle { list-style-type: circle; }
  &.disc { list-style-type: disc; }
}

hr, .separator {
    margin: $hr-margin;
    border:0;
    border-bottom: $hr-border;

    &.fit-box {
      margin-left: -$box-padding-sides;
      margin-right: -$box-padding-sides;
    }
}
