@mixin navbar-sizes {
  @each $variant, $fontsize in $navbar-sizes {
    $push: $base-fontsize * $fontsize/(1em) * (($navbar-lineheight + 2 * $navbar-padding)/(1em)) + 1px;

    @if ($variant == null) {
      .navbar {
        font-size: $fontsize;
      }

      .nav-push {
        padding-top: $push;
      }
    }
    @else {
      .navbar {
        &.#{$variant} {
          font-size: $fontsize;
        }
      }
    }

    .nav-#{$variant}-push {
      padding-top: $push;
    }
  }
}

@mixin navbar-colors {
  @each $variant, $color in $navbar-colors {
    @if ($variant == null) {
      background-color: nth($color, 1);
      border-color: nth($color, 2);

        @if (length($color) > 2 and nth($color, 3)) {
          .nav li a {
            color: $nav-inverted-color;

            &:hover {
              color: $nav-inverted-color_hover;
              background-color: $nav-inverted-bgcolor_hover;
            }
          }
        }
    } @else {
      &.#{$variant} {
        background-color: nth($color, 1);
        border-color: nth($color, 2);

        @if (length($color) > 2 and nth($color, 3)) {
          .nav li a {
            color: $nav-inverted-color;

            &:hover {
              color: $nav-inverted-color_hover;
              background-color: $nav-inverted-bgcolor_hover;
            }
          }
        }
      }
    }
  }
}
